* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
    background-color: #d9dcd6;
}

header {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    padding-top     : 2vw;
    font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color           : #ffffff;
    justify-content : space-between;
}

header h1 {
    display  : inline-block;
    font-size: 4.8rem;
}

header h1.page-title {
    font-size: 3vw;
}

header a {
    padding-top: 1vw;
    float      : right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size  : 2vw;
}

header div ul {
    list-style-type: none;
    margin-right   : 0.5vw;
}

header div ul li {
    display    : inline-block;
    margin-left: 2vw;
}

a {
    color          : #ffffff;
    text-decoration: none;

}

a:hover {
    color: black;
}

a:active {
    color: rgba(131, 159, 185, 0.336);
}

.container {
    position     : relative;
    width        : 100%;
    height       : 67vw;
    margin-bottom: 2vw;
}

.container img {
    position  : absolute;
    object-fit: cover;
    box-shadow: 0 6px 20px 0 rgba(21, 24, 23, 0.44);
}

.container img.Sol-Architect {
    bottom    : 0;
    left      : 0;
    max-width : 100%;
    max-height: 100%;
}

.container img.profile-pic {
    right        : 5vw;
    top          : 44vw;
    border-radius: 50%;
    max-width    : 25%;
}

@media (min-width: 720px) {
    .container {
        width : 100%;
        height: 67vw;
    }
}

@media (min-width: 1300px) {
    .container {
        width : 100%;
        height: 67vw;
    }
}

/*.Sol-Architect {
    height             : 80vw;
    width              : 100%;
    margin-bottom      : 25px;
    background-image   : url("../images/architecture-g1adcbc214_1920.jpg");
    background-size    : cover;
    background-position: center;
}




  .profile-pic img {
    position     : absolute;
    width        : 20%;
    top          : 80%;
    right        : 12vh;
    border-radius: 50%;
}
*/







main {
    width: 90%;

}

.row {
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: row;
    margin-left   : 1.5rem;
    margin-right  : 1.5rem;

}

.justify-center {
    justify-content: center;
}


.left-column {
    flex           : 0 0 30%;
    display        : flex;
    font-size      : 5rem;
    justify-content: flex-end;
    padding-right  : 2rem;
    border-right   : 0.35rem solid #2a607c;
    margin-bottom  : 1vw;

}

.left-column h2 {
    font-weight: bold;
    color      : #2a607c;
    font-size  : 4vw;
    text-align : right;
    line-height: 1;
}

.right-column {
    flex           : 0 0 70%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    flex-wrap      : wrap;
    color          : var(--heliotrope);
    text-align     : justify;
    margin-bottom  : 1vw;
}

.small-square {
    flex          : 0 0 50%;
    font-size     : 2.0rem;
    padding-left  : 1rem;
    padding-top   : 1rem;
    padding-right : 1rem;
    padding-bottom: 1rem;
    outline       : 0.35rem solid turquoise;
    outline-offset: -10px;
}

.big-square {
    flex          : 0 0 100%;
    font-size     : 2rem;
    padding-left  : 1rem;
    padding-top   : 1rem;
    padding-right : 1rem;
    padding-bottom: 1rem;
    outline       : 0.25rem solid turquoise;
    outline-offset: -10px;
}

.small-square:hover, .big-square:hover {
    cursor: pointer;
    filter: contrast(200%);

}

.text-square h2 {
    font-weight : lighter;
    color       : #2a607c;
    font-size   : 2.5vw;
    margin-left : 0.5rem;
    padding-left: 0.5rem;
    line-height : 2.5vw;
}

img {
    max-width: 100%;
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.img-wrapper {
    overflow      : hidden;
    padding-bottom: 34%;
    position      : relative;

}

.img-wrapper p {
    position  : absolute;
    background: rgb(120, 226, 216);
    bottom    : 5%;
    left      : 0.5%;
    padding   : 1%;
    font-size : 1vw;
}

.contact-square a {
    color          : -webkit-link;
    cursor         : pointer;
    text-decoration: underline;
}

.contact-square {
    display        : flex;
    flex           : 0 0 100%;
    font-size      : 1vw;
    justify-content: space-between;
    padding-left   : 1rem;
    padding-right  : 1rem;
    padding-bottom : 1rem;
    align-items    : center;

}